In [1]:
import numpy as np
import pandas as pd

In [2]:
# EXERCISE 10.2 (SERIES)
# Create pd.Series where 'index' contains days of the week ('Monday', 'Tuesday', ...) and 'data' contains some numbers.
dates = pd.date_range("20210524", periods=7).day_name()

s1 = pd.Series(data = range(1,8),index = dates)
s1

Monday       1
Tuesday      2
Wednesday    3
Thursday     4
Friday       5
Saturday     6
Sunday       7
dtype: int64

In [3]:
# EXERCISE 10.3 (DATAFRAME)
# Create pd.DataFrame for the periodic table (ten elements). Column names are 'Name', 'Symbol', 'Weight' and 'index' 
# starts from 1.
pt = [("Hydrogen","H",1), ("Helium","He",4), ('Lithium','Li',7),('Beryllium ','Be',9),('Boron','B',11),
      ('Carbon','C',12),('Nitrogen','N',14),('Oxygen','O',16),('Fluorine','F',19),('Neon',"Ne",20)]
df2 = pd.DataFrame(data=pt, index=range(1,11),columns=['Name','Symbol','Weight'])
df2

          Name Symbol  Weight
1     Hydrogen      H       1
2       Helium     He       4
3      Lithium     Li       7
4   Beryllium      Be       9
5        Boron      B      11
6       Carbon      C      12
7     Nitrogen      N      14
8       Oxygen      O      16
9     Fluorine      F      19
10        Neon     Ne      20